<div class="pure-layout pure-layout-960">
	<h1>Game Requests</h1>
	<p>
		<%= link_to :back do %>
			<%=  fa_icon 'arrow-left' %> Go back
		<% end %>.
	</p>
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr class="pure-table-heading">
				<th>Name</th>
				<th>Votes</th>
				<th>Accepted</th>
				<th>Date Requested</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		<% @game_requests.each do |request| %>
		<tr>
			<td><%= request.name %></td>
			<td><span class="badge blue"><%= request.requests %></span></td>
			<td><% if request.accepted == true %><span class="badge blue">YES</span><% else %><span class="badge red">NO</span><% end %></td>
			<td><%= request.created_at.strftime('%d.%m.%Y at %H:%M o\'clock') %></td>
			<td>
				<%= link_to 'Edit', edit_game_request_path(request), class: 'pure-button pure-button-primary' %>
				<%= link_to 'Discard', game_request_path(request), class: 'pure-button' %>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>