<div class="pure-layout pure-layout-fullwidth">

	<div class="text-center">
		<h1>All Games</h1>
		<% if user_signed_in? && current_user.admin %>
			<%= link_to 'Add', new_game_path %> a new game.there are currently <%= link_to '20' %> open Requests.
		<% else %>
			<%= link_to 'Request' %> a new game.
		<% end %>
	</div>

	<div class="pure-g">
	<% @games.each do |game| %>
		<div name="resizable" class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4 pure-resizable">
			<div class="window distanced noborder">
				<div class="content nopadding">
					<%= link_to game do %>
						<div class="game-container", style="background-image: url(<%= game.cover_url ||= 'default-cover.jpg'%>)">
							<div class="header">
								<h1><%= game.name %></h1>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>