<div class="text-center">
	<h1>All Games</h1>
	<% if user_signed_in? && current_user.admin %>
		<%= link_to 'Add', new_game_path %> a new game.there are currently <%= link_to '20' %> open Requests.
	<% else %>
		<%= link_to 'Request' %> the Support to add a new game.
	<% end %>
</div>
<div class="pure-layout pure-layout-960">
	<div class="pure-g">
		<% @games.each do |game| %>
			<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
				<div class="window distanced">
					<div class="content nopadding">
						<%= link_to game do %>
							<%= image_tag 'default-cover.jpg', class: 'pure-img' %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>