<div class="pure-layout pure-layout-fullwidth">

	<div class="text-center">
		<h1>All Games</h1>
		<%= render '/shared/gallery_selector' %>
		<% if user_signed_in? && current_user.admin %>
			<%= link_to 'Add', new_game_path %> a new game.there are currently <%= link_to '20' %> open Requests.
		<% else %>
			<%= link_to 'Request' %> the Support to add a new game.
		<% end %>
	</div>

	<div class="pure-g">
		<% @games.each do |game| %>
			<div name="resizable" class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-3 pure-resizable">
				<div class="window distanced noborder">
					<div class="content nopadding">
						<%= link_to game do %>
							<%= image_tag 'default-cover.jpg', class: 'pure-img-x' %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	
</div>