<% if @game.errors.any? %>
	<ul>
	<% @game.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %> 

<h1 class="text-center">Edit Game</h1>
<div class="pure-layout pure-layout-960">
		<%= form_for @game, html: { class: 'pure-form pure-form-stacked'} do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			<%= f.label :creator %>
			<%= f.text_field :creator %>
			<%= f.label :company_url %>
			<%= f.text_field :company_url %>
			<%= f.label :cover_url %>
			<%= f.text_field :cover_url, placeholder: '.png, .jpg, .gif' %>
			<%= f.label :code_length %>
			<%= f.number_field :code_length, placeholder: 'Important' %>
			<%= f.label :description %>
			<%= f.text_area :description %>
			<%= f.submit %>
		<% end %>

	<div class="window-controls">
		<%= link_to 'Go Back', :back, class: 'pure-button' %>
	</div>
</div>