<div class="pure-layout pure-layout-960 pure-layout-window">
	<div class="l-box">
		<h1><%= @game.name %></h1>
			<div class="content">
				<% if user_signed_in? %>
					Add a new game code.
					<% if @game.coin_multiplier > 0 %>
					<p>
						You will get <b><%= pluralize( 5 * @game.coin_multiplier, t('coin')) %></b> for adding a Code.
					</p>
					<% end %>
					<%= form_for @game_code, html: { class: 'pure-form'} do |f| %>
						<%= f.text_field :code, placeholder: "Code length: #{@game.code_length}", maxlength: @game.code_length, size: 'auto'%>
						<%= f.hidden_field :game_id, value: @game.id %>
						<%= f.submit 'add', class: 'pure-button pure-button-primary' %>
					<% end %>
					<div class="code-info">
						<%= @game.code_length %> Characters left
					</div>
				<% end %>
			</div>
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="window">
					<div class="content">
						<ul class="nolist">
						<li>Creator / Copyright: <b><%= @game.creator %></b></li>
						<li>Company Website: <%= link_to @game.company_url, @game.company_url, rel: 'nofollow', target: '_blank' || 'not known' %></li>
						</ul>
					</div>

					<div class="content">

						<% if @game.game_codes.any? %>
						<div class="pagination-container text-center">
							<%= will_paginate @gamecodes %>
						</div>
							<h2>All Codes for <%= @game.name %>:</h2>
							<table class="pure-table pure-table-striped">
								<tr>
									<th align="left">Submitter</th>
									<th align="left">Code</th>
								</tr>
								<% @gamecodes.each do |code| %>
								<tr>
									<td><%= link_to code.user.nickname, code.user %></td>
									<td><%= code.code %></td>
								</tr>
								<% end %>
							</table>
						<% else %>
							No Game Codes yet.
						<% end %>
						<div class="pagination-container text-center">
							<%= will_paginate @gamecodes %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="window-controls" id="game-controls">
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_game_path(@game), class: 'pure-button' %>
			<% end %>

			<%= link_to 'Go Back', :back, class: 'pure-button' %>
		</div>
	</div>
</div>