<div class="pure-layout pure-layout-960 pure-layout-window">
	<div class="l-box">
		<h1><%= @game.name %></h1>
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="window">
					<div class="content">
						<ul class="nolist">
						<li>Creator / Copyright: <b><%= @game.creator %></b></li>
						<li>Company Website: <%= link_to @game.company_url, @game.company_url, rel: 'nofollow', target: '_blank' || 'not known' %></li>
						</ul>
					</div>
					<div class="content">
						<% if @game.game_codes.any? %>
							All Codes for <%= @game.name %>:
							<ul>
								<% @gamecodes.each do |code| %>
									<li><%= code.code %> | submitted by <%= link_to code.user.nickname, code.user %></li>
								<% end %>
							</ul>
							<%= will_paginate @gamecodes %>
						<% else %>
							No Game Codes yet. Add one please.
							<br><br>
							<%= label 'Gamecode', 'Gamecode' %>:
							<%= text_field 'hello', 'hell' %>
							<br><br>
							<%= submit_tag 'submit' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="window-controls" id="game-controls">
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_game_path(@game), class: 'pure-button' %>
			<% end %>

			<%= link_to 'Go Back', games_path, class: 'pure-button' %>
		</div>
	</div>
</div>