<div class="responsive-form-container">
  <div class="responsive-form">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'pure-form'}) do |f| %>

        <legend>Enter your login credentials</legend>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: :email, class: 'pure-input-1' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: :password, class: 'pure-input-1'  %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, checked: true %>
            <%= f.label :remember_me %>
          </div>
          <div class="field">
            <%= f.submit "Log in", class: 'pure-button pure-button-primary pure-input-1-2'  %>
          </div>
          </div>
        <% end -%>

    <% end %>

  </div>
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>