<div class="pure-layout pure-layout-960">
	<div class="text-center">
		<h1>New Game Code</h1>
			<% if @gamecode.errors.any? %>
				<ul>
				<% @gamecode.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
				</ul>
			<% end %>
	</div>

 	<div class="responsive-form">
	    <h2>New Game Code</h2>
		<%= form_for @gamecode, url: game_codes_path, html: {class: 'pure-form pure-form-stacked'}  do |f| %>
				<legend>Add a new game code</legend>
					<div class="field">
						<%= f.label :code %>
						<%= f.text_field :code, placeholder: 'Enter code here', class: 'pure-input-1' %>
					</div>
					<div class="field">
						<%= f.label :game_id %>
						<%= f.collection_select(:game_id, Game.all, :id, :name, class: 'pure-input-1') %>
					</div>
					<div class="field">
						<%= f.submit 'Add Code', class: 'pure-button pure-button-primary pure-input-1'%>
					</div>
		<% end %>
	</div>
</div>